@charset "utf-8";
/* 공통 css */
header{width: 100%; height: 80px; background: rgb(225,225,225,0.6);}
header nav{width: 100vw; margin: 0 auto;}
header nav ul{width: 100%; height: 80px; display: flex; justify-content: center; align-items: center;}
header nav ul li{margin: auto 5px;}
header nav ul li .router-link-active{color: rgb(78, 145, 233);}
header nav ul li .link{padding: 20px; font-size: 1.2em; font-weight: bold; cursor: pointer;}
footer{width: 100%; height: 120px; margin-top: 50px; background: rgb(110, 110, 110);}

main section{margin-top: 100px;}
h1, h2{display: none; text-indent: -9999999;}
h2.cont_tit{display: block; text-indent: 0; margin-bottom: 50px; text-align: center; font-size: 1.8em; font-weight: bold; color: #333333;}

/* 게시판 */
/* .board_cont{} */
.board_cont .board_list_wrap{display: block; width: 80vw; /* height: 65vh; */ margin: 0 auto;}
.board_cont .board_list_wrap .list{border-top: 1px solid #333333;}
.board_list_wrap .list .list_li{display: flex;}
.board_list_wrap .list .list_header{border-bottom: 1px solid #dddddd;}
.board_list_wrap .list .list_li p, .board_list_wrap .list .list_header p.tit, .board_list_wrap .list .list_li a{padding: 20px 0; text-align: center;}
.board_list_wrap .list .list_header p{font-weight: bold;}

.board_list_wrap .list .list_li .no{width: 10%;}
.board_list_wrap .list .list_li .tit{width: 55%; text-align: justify; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.board_list_wrap .list .list_li .writer{width: 15%;}
.board_list_wrap .list .list_li .date{width: 20%;}

.list_botton, .btn_wrap{position: relative; display: flex; align-items: center; justify-content: flex-end; width: 80vw; height: 6vh; margin: 50px auto 0;}
.board_cont .btn{margin-left: 15px; padding: 15px 20px; font-size: 1.12em; background: rgb(78, 145, 233); color: #ffffff; border-radius: 10px;}
.pagination{position: absolute; left: 50%; transform: translateX(-50%); display: flex;}
.pagination a{display: block; margin: 0 15px; padding: 10px; font-size: 1.12em; cursor: pointer;}
.pagination .on a{font-weight: bold; color: rgb(78, 145, 233);}

/* 작성 페이지 */
.board_create_update{display: block; width: 80vw; /* height: 65vh; */ margin: 0 auto; border-top: 2px solid #333333;}
.board_create_update .board_cr_up_li{display: flex; align-items: center; justify-content: center; width: 100%; border-bottom: 1px solid #dddddd;}
.board_create_update .board_tit, .board_create_update .board_writer{height: 10vh;}
.board_create_update .board_content{height: 30vh;}
.board_create_update .board_cr_up_li span{display: flex; align-items: center; justify-content: center; width: 12vw; height: 100%; background: #efefef; text-align: center;}

.board_create_update .board_writer input, .board_create_update textarea{float: right; width: calc(87% - 40px); padding: 0 20px; margin: 20px 20px 20px 0; resize: none;}
.board_create_update .board_tit textarea{height: calc(100% - 60px); padding: 10px 20px;}
.board_create_update .board_content textarea{height: calc(100% - 80px); padding: 20px;}
/* #board_update .board_writer, #board_update .board_writer span, #board_update .board_regdate, #board_update .board_regdate span{height: 50px; line-height: 50px;}
#board_update .board_writer p, #board_update .board_regdate p{float: right; width: 87%; margin-right: 20px;} */
